.container {
    width: calc(var(--container-width) + 2 * var(--container-padding));
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    margin-left: auto;
    margin-right: auto;
}

@media (1850px <= width) {
    .container {

    }
}

@media (width < 740px) {

    .container {
        width: auto;
    }
}



.container--no-padding-on-smartphone {

}
    @media (width < 740px) {

        .container--no-padding-on-smartphone {
            border-left-width: 0;
            border-right-width: 0;
        }
    }
