.http-error {
    padding-top: var(--top-padding);
    padding-bottom: var(--bottom-padding);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .http-error__code {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 162px;
        line-height: 162px;
        color: #D1D3D4;
        text-align: center;
    }

    .http-error__description {
        margin-top: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #D1D3D4;
        text-align: center;
        text-transform: uppercase;
    }



@media (1850px <= width) {

    .http-error {
        /*align-items: center;*/
        /*justify-content: center;*/
    }
        .http-error__code {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-weight: inherit;*/
            font-size: 190px;
            line-height: 190px;
            /*color: #D1D3D4;*/
            /*text-align: center;*/
        }

        .http-error__description {
            margin-top: 13px;
            font-size: 22px;
            line-height: 30px;
            /*color: #D1D3D4;*/
            /*text-align: center;*/
        }
}



@media (width < 740px) {

    .http-error {
        /*padding-top: var(--top-padding);*/
        /*padding-bottom: var(--bottom-padding);*/
        /*height: 100%;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }
        .http-error__code {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-weight: inherit;*/
            font-size: 120px;
            line-height: 120px;
            /*color: #D1D3D4;*/
            /*text-align: center;*/
        }

        @media (width < 350px) {
            .http-error__code {
                font-size: 100px;
                line-height: 100px;
            }
        }

        .http-error__description {
            /*margin-top: 8px;*/
            font-size: 22px;
            line-height: 28px;
            /*color: #D1D3D4;*/
            /*text-align: center;*/
            text-transform: none;
        }
}

