.page {
    position: relative; /* меню на десктопе абсолютно */
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .page__header {
        flex-shrink: 0;
    }

    .page__menu {

    }

    .page__body {
        flex-grow: 1;
    }

    .page__footer {
        flex-shrink: 0;
    }



@media (width < 740px) {

    .burger-expanded .page__body {
        display: none;
    }

    .burger-expanded .page__footer {
        display: none;
    }
}
