.solutions-v3 {
    min-height: 100%;
    position: relative;
    background-color: #00578C;
    background-image: url("../vectors/intro-laptop.svg"), var(--radial-gradient);
    background-size: 1280px 661px, 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    overflow: hidden; /* Обрезаем карусель */
}
    .solutions-v3__wrap {
        padding-top: 30px;
    }
        .solutions-v3__heading {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            font-family: inherit;
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
            text-transform: uppercase;
            color: inherit;
            text-align: center;
            text-decoration: 1.5px underline transparent;
            text-underline-offset: 4px;
            transition: text-decoration-color var(--transition-hover);
            cursor: pointer;
        }

        .solutions-v3__description {
            margin: 20px auto 0;
            max-width: 670px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }

        .solutions-v3__projects {
            margin-top: 26px;
            padding-bottom: 40px;
            position: relative;
        }


@media (1850px <= width) {

    .solutions-v3 {
        background-image: url("../vectors/intro-monitor.svg"), var(--radial-gradient);
        background-size: 1920px 831px, 100% 100%;
    }
        .solutions-v3__wrap {
            padding-top: 40px;
        }
            .solutions-v3__heading {
                font-size: 34px;
                line-height: 41px;
            }

            .solutions-v3__description {
                max-width: 900px;
                font-size: 24px;
                line-height: 32px;
            }

        .solutions-v3__projects {

        }
}



@media (width < 740px) {

    .solutions-v3 {
        background-image: url("../vectors/intro-smartphone.svg"), linear-gradient(#003C62, #017BC8 69%, #027BC8);
        background-size: 740px 272px, 100% 100%;
    }
        .solutions-v3__wrap {

        }
            .solutions-v3__heading {
                max-width: 360px;
                margin-left: auto;
                margin-right: auto;
                font-size: 18px;
                line-height: 25px;
            }

            .solutions-v3__description {
                /*margin-top: 10px;*/
                /*font-weight: 500;*/
                max-width: 400px;
                font-size: 15px;
                line-height: 20px;
            }

            .solutions-v3__projects {

            }
}


