.solutions-v3 {
    min-height: 100%;
    position: relative;
    background-color: #00578C;
    background-image: url("../vectors/intro-laptop.svg"), var(--radial-gradient);
    background-size: 1280px 661px, 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    overflow: hidden; /* Обрезаем карусель */
}
    .solutions-v3__wrap {

    }
        .solutions-v3__intro {
            position: relative;
            padding-top: 79px;
        }
            .solutions-v3__link {
                position: absolute;
                top: 15px;
                background-color: transparent;
                border: none;
                padding: 0;
                font-family: inherit;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                text-transform: uppercase;
                color: inherit;
                text-decoration: 1.5px underline transparent;
                text-underline-offset: 4px;
                transition: text-decoration-color var(--transition-hover);
                cursor: pointer;
            }

            .solutions-v3__link:hover {
                text-decoration-color: inherit;
            }

            .solutions-v3__link--engineering-systems {
                left: 0;
                right: calc(50% + 113px);
                text-align: right;
            }

            .solutions-v3__link--modular-solutions {
                left: calc(50% + 113px);
                right: 0;
                text-align: left;
            }

            .solutions-v3__link--current {
                cursor: default;
            }
                .solutions-v3__link::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    width: 22px;
                    height: 16px;
                    background-image: url("../vectors/arrow.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    opacity: 0;
                    transition: opacity 100ms ease;
                }

                .solutions-v3__link--engineering-systems::before {
                    right: -44px;
                    transform: scaleX(-1);
                }

                .solutions-v3__link--modular-solutions::before {
                    left: -44px;
                }

                .solutions-v3__link--current::before {
                    opacity: 100%;
                }


        .solutions-v3__description {
            margin: 0 auto;
            max-width: 1000px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
        }

        .solutions-v3__projects {
            margin-top: 20px;
            margin-left: 4px;
            margin-right: 4px;
        }
            .solutions-v3__tab {
                display: none;
            }

            .solutions-v3__tab--current {
                display: block;
            }


@media (1850px <= width) {

    .solutions-v3 {
        background-image: url("../vectors/intro-monitor.svg"), var(--radial-gradient);
        background-size: 1920px 831px, 100% 100%;
    }
        .solutions-v3__intro {
            padding-top: 130px;
        }
            .solutions-v3__link {
                top: 27px;
                font-size: 34px;
                line-height: 41px;
            }

            .solutions-v3__link--engineering-systems {
                right: calc(50% + 169px);
            }

            .solutions-v3__link--modular-solutions {
                left: calc(50% + 169px);
            }
                    .solutions-v3__link::before {
                        /*content: "";*/
                        /*display: block;*/
                        /*position: absolute;*/
                        /*top: 50%;*/
                        margin-top: -12px;
                        width: 33px;
                        height: 24px;
                        /*background-image: url("../vectors/arrow.svg");*/
                        /*background-size: contain;*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: center center;*/
                        /*opacity: 0;*/
                        /*transition: opacity 100ms ease;*/
                    }

                    .solutions-v3__link--engineering-systems::before {
                        right: -66px;
                        /*transform: scaleX(-1);*/
                    }

                    .solutions-v3__link--modular-solutions::before {
                        left: -66px;
                    }

                    .solutions-v3__link--current::before {
                        /*opacity: 100%;*/
                    }

        .solutions-v3__description {
            max-width: 1450px;
            font-size: 20px;
            line-height: 28px;
        }


        .solutions-v3__projects {

        }
}



@media (width < 740px) {

    .solutions-v3 {
        background-image: url("../vectors/intro-smartphone.svg"), linear-gradient(#003C62, #017BC8 69%, #027BC8);
        background-size: 740px 272px, 100% 100%;
    }
        .solutions-v3__intro {
            /*position: relative;*/
            padding-top: 69px;
            padding-bottom: 29px;
        }
            .solutions-v3__link {
                position: static;
                max-width: 360px;
                margin-left: auto;
                margin-right: auto;
                font-size: 18px;
                line-height: 25px;
            }

            .solutions-v3__link--engineering-systems {
                text-align: left;
            }

            .solutions-v3__link--modular-solutions {
                margin-top: 25px;
            }
                    .solutions-v3__link {
                        display: flex;
                        align-items: flex-start;
                    }

                    .solutions-v3__link:hover {
                        /*text-decoration-color: inherit;*/
                    }
                        .solutions-v3__link br {
                            display: none;
                        }

                        .solutions-v3__link::before {
                            position: static;
                            /*content: "";*/
                            flex-shrink: 0;
                            /*display: block;*/
                            margin-right: 8px;
                            margin-left: -1px;
                            margin-top: 5px;
                            width: 23px;
                            height: 16px;
                            background-image: url("../vectors/arrow-7.svg");
                            /*background-size: contain;*/
                            /*background-repeat: no-repeat;*/
                            /*background-position: center center;*/
                            transform: none;
                        }

        .solutions-v3__description {
            display: none;
            /*margin-top: 10px;*/
            /*font-weight: 500;*/
            /*font-size: 14px;*/
            /*line-height: 17px;*/
        }

        .solutions-v3__projects {

        }
}


