/* stylelint-disable */
.splide--skin-service {
    --correction: 0px;
}
/* stylelint-enable */

.splide--skin-service {
    margin-left: var(--correction);
    margin-right: var(--correction);
}

    .splide--skin-service .splide__list > .splide__slide:nth-child(even) .product {

    }

    .splide--skin-service .splide__track {
        overflow: visible;
    }

    .splide--skin-service .splide__slide--col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .splide--skin-service .splide__arrow {
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        width: 100px;
        margin: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }

    .splide--skin-service .splide__arrow[disabled] {
        opacity: 20%;
        pointer-events: none;
    }


    .splide--skin-service .splide__arrow--prev {
        left: calc(-1 * (100vw - var(--container-width)) / 2 - var(--correction));
        background-image: linear-gradient(to right, rgb(3 72 116 / 100%), rgb(3 72 116 / 0%));
    }

    .splide--skin-service .splide__arrow--next {
        right: calc(-1 * (100vw - var(--container-width)) / 2 - var(--correction));
        background-image: linear-gradient(to left, rgb(3 72 116 / 100%), rgb(3 72 116 / 0%));
    }


    @media (740px <= width < 1260px ) {

        .splide--skin-service .splide__arrow--prev {
            left: calc(-1 * var(--container-padding) - var(--correction));
        }

        .splide--skin-service .splide__arrow--next {
            right: calc(-1 * var(--container-padding) - var(--correction));
        }
    }
        /* hover */
        .splide--skin-service .splide__arrow::before {
            content: "";
            position: absolute;
            inset: 10px;
            border-radius: 10px;
        }

        .splide--skin-service .splide__arrow:hover::before {
            background-color: rgb(255 255 255 / 20%);
        }

        .splide--skin-service .splide__arrow svg {
            position: relative;
            fill: #FFFFFF;
        }

        .splide--skin-service .splide__arrow--prev svg {
            transform: scaleX(-1);
        }




@media (1850px <= width) {

    .splide--skin-service {
        --correction: 4px; /* 5 плиток в слайдере = 1670px, а контейне 1678px */
    }


    .splide--skin-service {

    }

    .splide--skin-service .splide__list > .splide__slide:nth-child(even) .product {

        }

        .splide--skin-service .splide__track {

        }

        .splide--skin-service .splide__slide--col {

        }

        .splide--skin-service .splide__arrow {
            width: 130px;
        }


        .splide--skin-service .splide__arrow--prev {

        }

        .splide--skin-service .splide__arrow--next {

        }
            /* hover */
            .splide--skin-service .splide__arrow::before {
                inset: 13px;
                border-radius: 13px;
            }

            .splide--skin-service .splide__arrow:hover::before {

            }

            .splide--skin-service .splide__arrow svg {

            }

            .splide--skin-service .splide__arrow--prev svg {

            }
}





@media (width < 740px) {

    .splide--skin-service {
        /*--correction: 0px;*/
    }

    .splide--skin-service {
        /*margin-left: var(--correction);*/
        /*margin-right: var(--correction);*/
    }

        .splide--skin-service .splide__list > .splide__slide:nth-child(even) .product {

        }

        .splide--skin-service .splide__track {
            /*overflow: visible;*/
        }

        .splide--skin-service .splide__slide--col {
            /*display: flex;*/
            /*flex-direction: column;*/
            /*justify-content: center;*/
        }
            .splide--skin-service .splide__slide {
                display: flex;
                justify-content: center;
            }



        .splide--skin-service .splide__arrow {
            /*position: absolute;*/
            /*z-index: 10;*/
            /*top: 0;*/
            /*bottom: 0;*/
            width: 40px;
            /*margin: 0;*/
            /*border: none;*/
            /*background-color: transparent;*/
            /*padding: 0;*/
            /*cursor: pointer;*/
        }


        .splide--skin-service .splide__arrow--prev {
            left: calc(-1 * var(--container-padding) + 2px);
            background-image: none;
        }

        .splide--skin-service .splide__arrow--next {
            right: calc(-1 * var(--container-padding) + 2px);
            background-image: none;
        }


        @media (width < 350px) {
            .splide--skin-service .splide__arrow {
                display: none;
            }
        }

            /* hover */
            .splide--skin-service .splide__arrow::before {
                /*content: "";*/
                /*position: absolute;*/
                /*inset: 10px;*/
                /*border-radius: 10px;*/
                display: none;
            }

            .splide--skin-service .splide__arrow:hover::before {
                /*background-color: rgb(255 255 255 / 20%);*/
            }

            .splide--skin-service .splide__arrow svg {
                /*position: relative;*/
                /*fill: #FFFFFF;*/
            }

            .splide--skin-service .splide__arrow--prev svg {
                /*transform: scaleX(-1);*/
            }
}



/* Второй слайдер работает только на смартфонах. На десктопах просто сетка: */

.splide--init-modular-solutions {

}

@media (740px <= width) {

    .splide--init-modular-solutions {
        visibility: visible;
        padding-top: 40px;
        padding-bottom: 40px;
    }
        .splide--init-modular-solutions .splide__track {

        }
            .splide--init-modular-solutions .splide__list {
                align-items: center;
                justify-content: space-evenly;
            }
                .splide--init-modular-solutions .splide__slide {
                    scale: 120%;
                }
}


@media (1850px <= width) {

    .splide--init-modular-solutions {
        padding-top: 55px;
        padding-bottom: 55px;
    }
        .splide--init-modular-solutions .splide__track {

        }
            .splide--init-modular-solutions .splide__list {

            }
                .splide--init-modular-solutions .splide__slide {

                }
}



/*@media (width < 740px) {*/

/*    .splide--init-modular-solutions {*/
/*        height: 268px;*/
/*    }*/
/*        .splide--init-modular-solutions .splide__track {*/

/*        }*/
/*            .splide--init-modular-solutions .splide__list {*/

/*            }*/
/*                .splide--init-modular-solutions .splide__slide {*/

/*                }*/
/*}*/
