.splide--service {
    --correction: 0px;
}


@media (1850px <= width) {
    .splide--service {
        --correction: 4px; /* 5 плиток в слайдере = 1670px, а контейне 1678px */
    }
}


.splide--service {
    margin-left: var(--correction);
    margin-right: var(--correction);
}

.splide--service .splide__list > .splide__slide:nth-child(even) .product {
        /*margin-top: 138px;*/
    }

    .splide--service .splide__track {
        overflow: visible;
    }

    .splide--service .splide__slide--col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (width < 740px) {
        .splide--service .splide__slide {
            display: flex;
            justify-content: center;
        }
    }



    .splide--service .splide__arrow {
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        width: 100px;
        margin: 0;
        background-color: red;
        border: none;
        padding: 0;
    }


    .splide--service .splide__arrow--prev {
        left: calc(-1 * (100vw - 1200px) / 2 - var(--correction));
    }

    .splide--service .splide__arrow--next {
        right: calc(-1 * (100vw - 1200px) / 2 - var(--correction));
    }



