.splide--service {

}

.splide--service .splide__list > .splide__slide:nth-child(even) .product {
    /*margin-top: 138px;*/
}

.splide--service .splide__track {
    overflow: visible;
}

.splide--service .splide__slide--col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (width < 740px) {
    .splide--service .splide__slide {
        display: flex;
        justify-content: center;
    }
}
