@import url("../styles/_fonts.css");
@import url("../vendors/normalize/normalize.css");
@import url("../vendors/magnific-popup/magnific-popup.css");
@import url("../vendors/swiper/swiper-bundle.min.css");
@import url("../vendors/splide/css/splide-core.min.css");
@import url("_box-sizing.css");
@import url("_visuallyhidden.css");
@import url("_root.css");
@import url("_html.css");
@import url("_body.css");
@import url("_browser.css");
@import url("_container.css");

@import url("_nobr.css");
/*@import url("_hide-scrollbar.css");*/

@import url("_link.css");
@import url("_button.css");
@import url("_input.css");
/*@import url("_choice.css");*/
@import url("_wysiwyg.css");
@import url("_label.css");
@import url("_helper.css");

@import url("_mfp.css");
@import url("_window.css");
@import url("_request.css");

@import url("_certificates.css");
@import url("_http-error.css");
@import url("_header.css");
@import url("_footer.css");
@import url("_page.css");
@import url("_contacts.css");
@import url("_map.css");
@import url("_inner-container.css");
@import url("_thumbnail.css");
@import url("_project.css");
@import url("_service.css");
@import url("_gallery.css");
@import url("_highlights.css");
@import url("_portfolio.css");
@import url("_geo.css");
@import url("_work.css");
@import url("_construction.css");
@import url("_carousel.css");
@import url("_product.css");
@import url("_slide-up.css");
@import url("_manufacturing.css");
@import url("_tiles-23.css");
@import url("_tiles.css");
@import url("_index.css");
@import url("_company.css");
@import url("_separator.css");
@import url("_guide.css");
@import url("_ambitions.css");
@import url("_smartphone-only.css");
@import url("_plant.css");
@import url("_hide-on-monitor.css");
@import url("_hide-on-desktop.css");
@import url("_hide-on-smartphone.css");
@import url("_folder.css");
@import url("_certificate-preview.css");
@import url("_logo.css");
@import url("_request-button.css");
@import url("_menu.css");
@import url("_alert.css");
@import url("_notifications-center.css");
@import url("_article.css");
@import url("_title.css");
@import url("_doc.css");
@import url("_solutions-v3.css");
@import url("_splide.css");


