<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Главная</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">
                    <div class="header__detachable-part container">
                        <button class="header__toggle-menu" type="button">
                            Показать меню
                        </button>
                        <h1 class="header__branding logo logo--larger">
                            ЕМКОМ - инженерная компания
                        </h1>
                    </div>
                </header>
                <div class="menu">
                    <div class="menu__wrap container">
                        <div class="menu__navigation">
                            <div class="menu__section">
                                <a class="menu__link" href="#">
                                    О Компании
                                </a>
                                <div class="menu__sub-menu">
                                    <a class="menu__sub-link" href="#">Производственная<br> деятельность</a>
                                    <a class="menu__sub-link" href="#">Документация</a>
                                </div>
                            </div>
                            <div class="menu__section">
                                <a class="menu__link" href="#">
                                    Услуги
                                </a>
                                <div class="menu__sub-menu">
                                    <a class="menu__sub-link" href="#">Монтаж и проектирование<br> инженерных систем</a>
                                    <a class="menu__sub-link" href="#">Комплексное производство<br> модульных решений</a>
                                </div>
                            </div>
                            <div class="menu__section">
                                <a class="menu__link" href="#">Проекты</a>
                            </div>
                            <div class="menu__section">
                                <a class="menu__link" href="#">Контакты</a>
                            </div>
                        </div>
                        <div class="menu__contacts">
                            <a class="menu__phone" href="tel:+78123894114">
                                +7 (812) 389-41-14
                            </a>
                            <a class="menu__email-link mfp-handler" href="#feedback">
                                Написать сообщение
                            </a>
                            <div class="menu__request">
                                <a class="button button--outline mfp-handler" href="#request">
                                    Оставить заявку
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__body">


                <br>
                <br>
                <br>

                <div class="container">
                    <section class="splide splide--service" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">Slide 01</li>
                                <li class="splide__slide">Slide 02</li>
                                <li class="splide__slide">Slide 03</li>
                                <li class="splide__slide">Slide 04</li>
                                <li class="splide__slide">Slide 05</li>
                                <li class="splide__slide">Slide 06</li>
                                <li class="splide__slide">Slide 07</li>
                                <li class="splide__slide">Slide 08</li>
                                <li class="splide__slide">Slide 09</li>
                                <li class="splide__slide">Slide 10</li>
                                <li class="splide__slide">Slide 11</li>
                                <li class="splide__slide">Slide 12</li>
                                <li class="splide__slide">Slide 13</li>
                                <li class="splide__slide">Slide 14</li>
                                <li class="splide__slide">Slide 15</li>
                                <li class="splide__slide">Slide 16</li>
                            </ul>
                        </div>
                    </section>
                </div>


                <br>
                <br>
                <br>

                <div class="service-v3">
                    <div class="service-v3__intro container">
                        <div class="service-v3__item service-v3__item--first">
                            <h3 class="service-v3__sub-heading">
                                <a class="service-v3__link" href="#">
                                    Монтаж и проектирование<br> инженерных систем
                                </a>
                            </h3>
                            <div class="service-v3__description">
                                Помогаем разработать оптимальное<br> решение для обеспечения вашего<br> объекта полным комплектом<br> инженерных сетей.
                            </div>
                        </div>
                        <div class="service-v3__item service-v3__item--last">
                            <h3 class="service-v3__sub-heading">
                                <a class="service-v3__link" href="#">
                                    Комплексное производство<br> модульных решений
                                </a>
                            </h3>
                            <div class="service-v3__description">
                                Комплексный подход к каждому проекту, начиная <br>с технического сопровождения получения исходных данных<br> для проектирования до финальной стадии производства<br> и подтверждения соответствия техническим условиям.
                            </div>
                        </div>
                    </div>
                    <div class="service-v3__projects">
                        <div class="service-v3__projects-wrap container">
                            <div class="service-v3__projects-body">
                                <div class="
                                    carousel
                                    carousel--js-init-portfolio
                                    carousel--css-default-bullets
                                    carousel--css-skin-short-portfolio
                                    carousel--css-disable-on-desktop
                                ">
                                    <div class="carousel__widget">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide swiper-slide--01">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-a@2x.jpg 2x"
                                                                 src="../temp/works/work-a@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            РОСТЕЛЕКОМ-Ростов-Эстакада
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--02">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-b@2x.jpg 2x"
                                                                 src="../temp/works/work-b@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            10+ лет сотрудничества с АО «ТРАНСМАШХОЛДИНГ»: энергоснабжение и электрификация железных путей
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--03">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-c@2x.jpg 2x"
                                                                 src="../temp/works/work-c@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            Испытательная станция
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--04">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-d@2x.jpg 2x"
                                                                 src="../temp/works/work-d@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            СММ-Электро
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--05">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-e@2x.jpg 2x"
                                                                 src="../temp/works/work-e@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            Станция водоподготовки для Птицефабрики «Северная»
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--06">
                                                    <a class="work" href="#">
                                                        <div class="work__preview">
                                                            <img class="work__image"
                                                                 srcset="../temp/works/work-f@2x.jpg 2x"
                                                                 src="../temp/works/work-f@1x.jpg"
                                                                 width="366"
                                                                 height="422"
                                                                 alt=""
                                                            >
                                                        </div>
                                                        <div class="work__label">
                                                            «Зелёная» электроэнергия и антенно-мачтовые сооружения для ФСБ
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide swiper-slide--07">
                                                    <a class="work work--new mfp-handler" href="#request">
                                                        <span class="work__add-project">Здесь возможен<br> ваш проект</span>
                                                        <span class="work__add-project-hover">Заказать</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel__pagination">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">
                    <div class="footer__wrap container">
                        <div class="footer__summary">
                            <a class="footer__branding logo" href="#">
                                ЕМКОМ - инженерная компания
                            </a>
                            <div class="footer__address">
                                191014, г. Санкт-Петербург,<br>
                                <span class="nobr">ул. Бабушкина</span>, <span class="nobr">д. 123, лит. ЕБ</span><br>
                                <a class="link link--inverted-text-alike" href="mailto:sale@emkom.spb.ru">sale@emkom.spb.ru</a>
                            </div>
                            <div class="footer__legalities">
                                <a class="link link--inverted-text-alike" href="#">Политика конфиденциальности</a><br>
                                <div class="footer__copyright">© 2024 Все права защищены</div>
                            </div>
                        </div>
                        <div class="footer__contains">
                            <div class="footer__column">
                                <div class="footer__sub-heading">
                                    <a class="link link--inverted-text-alike" href="#">О компании</a>
                                </div>
                                <div class="footer__nav">
                                    <a class="footer__link" href="#">Производственная<br> деятельность</a>
                                    <a class="footer__link" href="#">Документация</a>
                                </div>
                            </div>
                            <div class="footer__column">
                                <div class="footer__sub-heading">
                                    <a class="link link--inverted-text-alike" href="#">Услуги</a>
                                </div>
                                <div class="footer__nav">
                                    <a class="footer__link" href="#">Монтаж и проектирование<br> инженерных систем</a>
                                    <a class="footer__link" href="#">Комплексное производство<br> модульных решений</a>
                                </div>
                            </div>
                            <div class="footer__column">
                                <div class="footer__sub-heading">
                                    <a class="link link--inverted-text-alike" href="#">Проекты</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer__addition">
                            <a class="footer__phone" href="tel:+78123894114">
                                +7 (812) 389-41-14
                            </a>
                            <a class="footer__email-link mfp-handler" href="#feedback">
                                Написать сообщение
                            </a>
                            <div class="footer__request">
                                <a class="button button--outline mfp-handler" href="#request">
                                    Оставить заявку
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <div class="window mfp-hide" id="feedback">
            <button class="window__close mfp-close" type="button">
                <svg class="window__cross" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="m1.434.02 16.544 16.544-1.414 1.414L.02 1.434 1.434.02Z"/>
                    <path d="M17.958 1.414 1.414 17.958 0 16.544 16.544 0l1.414 1.414Z"/>
                </svg>
            </button>
            <div class="form">
                <h2 class="form__heading">
                    Напишите нам
                </h2>
                <form class="form__body" data-js-form>
                    <div class="form__field">
                        <label class="label" for="feedback-name">
                            Введите имя
                        </label>
                        <div class="input">
                            <input class="input__widget" type="text" placeholder="Иван" id="feedback-name">
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label" for="feedback-email">
                            Введите E-mail *
                        </label>
                        <div class="input">
                            <input class="input__widget" type="email" placeholder="ivan@yandex.ru" id="feedback-email" required>
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label" for="feedback-tel">
                            Введите номер телефона
                        </label>
                        <div class="input">
                            <input class="input__widget" type="tel" placeholder="+7 (812) 389-41-14" id="feedback-tel">
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label" for="feedback-message">
                            Сообщение
                        </label>
                        <div class="input">
                            <textarea class="input__widget" placeholder="Введите текст обращения" id="feedback-message" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form__submit">
                        <button class="button button--submit" type="submit" data-js-submit>Отправить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="window mfp-hide" id="request">
            <button class="window__close mfp-close" type="button">
                <svg class="window__cross" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="m1.434.02 16.544 16.544-1.414 1.414L.02 1.434 1.434.02Z"/>
                    <path d="M17.958 1.414 1.414 17.958 0 16.544 16.544 0l1.414 1.414Z"/>
                </svg>
            </button>
            <div class="form">
                <h2 class="form__heading">
                    Заполните форму
                </h2>
                <div class="form__description">
                    Заявка вас ни к чему не обязывает!<br class="form__description-line-break"> Вы можете отказаться в любой момент
                </div>
                <form class="form__body" data-js-form>
                    <div class="form__field">
                        <label class="label" for="request-name">
                            Введите имя
                        </label>
                        <div class="input">
                            <input class="input__widget" type="text" placeholder="Иван" id="request-name">
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label" for="request-email">
                            Введите E-mail *
                        </label>
                        <div class="input">
                            <input class="input__widget" type="email" placeholder="ivan@yandex.ru" id="request-email" required>
                        </div>
                    </div>
                    <div class="form__field">
                        <label class="label" for="request-phone">
                            Введите номер телефона
                        </label>
                        <div class="input">
                            <input class="input__widget" type="tel" placeholder="+7 (812) 389-41-14" id="request-phone">
                        </div>
                    </div>
                    <div class="form__submit">
                        <button class="button button--submit" type="submit" data-js-submit>Отправить заявку</button>
                    </div>
                    <div class="form__note">
                        Мы свяжемся с вами в течении 15&nbsp;минут
                    </div>
                </form>
            </div>
        </div>

        <div class="notifications-center">
            <div class="alert alert--success" data-js-alert-success style="display: none;">
                <div class="alert__label">
                    Данные получены. Спасибо за обращение!
                </div>
                <button class="alert__dismiss" type="button">
                    Закрыть
                </button>
            </div>
            <div class="alert alert--danger" data-js-alert-failure style="display: none;">
                <div class="alert__label">
                    Во время отправки данных произошла ошибка.<br class="desktop-only">
                    Проверьте ваше соединение и попробуйте позже.
                </div>
                <button class="alert__dismiss" type="button">
                    Закрыть
                </button>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/splide/js/splide.min.js"></script>
        <script src="../vendors/splide/extenstions/splide-extension-auto-scroll.min.js"></script>
        <script src="../vendors/splide/extenstions/splide-extension-grid.min.js"></script>
        <script src="../scripts/scripts.js"></script>


    </body>
</html>
